body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 2rem;
}

h1,
h2 {
	margin-bottom: 10px;
}

#messages-container {
	margin-bottom: 20px;
}

.message {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

form {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input[type="text"],
form textarea {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

form button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

form button:hover {
	background-color: #45a049;
}
